@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@layer components {
  .description-text {
    @apply text-[#6C7A8A] leading-[22.4px];
  }
  .tabButtonSelected::after {
    @apply absolute -bottom-[2px] left-0 w-full h-0.5 bg-greenBg;
    content: '';
  }
}

.text-rotation {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
